:root {
  --primary-color: #f8558e;
  --primary-text-color: black;
  --secondary-text-color: #ffffff;
  --primary-bg-color: #e1e3ea;
  --primary-shadow-color: #768a9f00;
  --primary-btn-color: rgb(185, 219, 254);
  --theme-bg: #03092b;
}
@mixin hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}
@mixin background-btn {
  // filter: drop-shadow(4px 2px 6px #9a9a9a);
  // box-shadow: 1px 1px 8px 0 var(--primary-shadow-color);
  // background: linear-gradient(
  //   273deg,
  //   rgb(0 0 0 / 0%) -81.71%,
  //   #ffffff8e 79.17%
  // );
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  border-radius: 4px;
  cursor: pointer;
  svg {
    color: black;
  }
  &:hover {
    color: var(--primary-color);
    background: #f8fafb;
    svg,
    label {
      color: var(--primary-color);
    }
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: "Mvboli";
  src: local("Mvboli"), url("../fonts/Mvboli.ttf") format("truetype");
}

@font-face {
  font-family: "Blackjack";
  src: local("Blackjack"), url("../fonts/Blackjack.ttf") format("truetype");
}

@font-face {
  font-family: "Domaine";
  src: local("Domaine"), url("../fonts/Domaine.otf") format("truetype");
}

@font-face {
  font-family: "Gothic";
  src: local("Gothic"), url("../fonts/Gothic.TTF") format("truetype");
}

@font-face {
  font-family: "Claredon";
  src: local("Claredon"), url("../fonts/Claredon.ttf") format("truetype");
}

@font-face {
  font-family: "ArgoFlats";
  src: local("ArgoFlats"), url("../fonts/ArgoFlats.ttf") format("truetype");
}

@font-face {
  font-family: "Bakery";
  src: local("bakery"), url("../fonts/bakery.ttf") format("truetype");
}

@font-face {
  font-family: "Allura";
  src: local("Allura"), url("../fonts/Allura-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lhandw";
  src: local("Lhandw"), url("../fonts/LHANDW.ttf") format("truetype");
}
@font-face {
  font-family: "Fontspring";
  src: local("Fontspring"), url("../fonts/Fontspring.otf") format("truetype");
}
@font-face {
  font-family: "Philosopher";
  src: local("Philosopher"),
    url("../fonts/Philosopher-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Abuget";
  src: local("Abuget"), url("../fonts/ABUGET.ttf") format("truetype");
}
@font-face {
  font-family: "Alexis Marie";
  src: local("Alexis Marie"),
    url("../fonts/Alexis Marie.ttf") format("truetype");
}
@font-face {
  font-family: "Antonio";
  src: local("Antonio"),
    url("../fonts/Antonio-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Manta";
  src: local("Manta"), url("../fonts/Manta.ttf") format("truetype");
}
@font-face {
  font-family: "Wayfarer";
  src: local("Wayfarer"),
    url("../fonts/Wayfarer-Regular.otf") format("truetype");
}
@font-face {
  font-family: "Thunder";
  src: local("Thunder"), url("../fonts/thunder.ttf") format("truetype");
}
.editor-component-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  transition: all 0.2s ease;
  &.modal-opened {
    // padding-left: 100px;
    transition: all 0.2s ease;
  }
  .editor-container {
    max-width: 1015px;
    border: 1px solid #dee1ec;
    border-radius: 5px;
    overflow: hidden;
    .page-heading {
      font-size: 15px;
      letter-spacing: 0.2px;
      font-weight: 600;
      width: 100%;
      text-align: center;
      padding: 15px;
      border: 1px solid #dee1ec;
      position: relative;
      font-family: "Poppins";
      color: var(--primary-color);
      z-index: 6;
      background: var(--primary-bg-color);

      .icon-wrap {
        position: absolute;
        right: 10px;
        top: 15px;
        width: 25px;
        height: 25px;
        padding: 4px;
        background: var(--secondary-text-color);
        border-radius: 20px;
        cursor: pointer;
        svg {
          width: 100%;
          height: 100%;
        }
        .info {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          padding-left: 10px;
          overflow: hidden;
          width: 0;
          height: 0;
          background: white;
          margin-left: 0;
          font-size: 12px;
          letter-spacing: 0.2px;
          transition: all 0.2s ease;
          border-radius: 4px;
          color: black;
          font-weight: 500;
          border-radius: 50%;
          border-top-right-radius: 0;
          .heading {
            font-size: 15px;
            color: var(--primary-color);
            font-weight: 600;
            font-family: "Poppins";
            text-align: left;
            margin: 10px 0 20px;
          }
          .info-details-wrap {
            padding: 10px;
            border: 1px solid #dee1ec;
            border-radius: 5px;
            margin-bottom: 15px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            font-family: "Poppins";
            width: 100%;
            .sub-heading {
              font-size: 14px;
              margin-bottom: 10px;
              color: var(--primary-text-color);
            }
            .details {
              color: #474e55;
              text-align: left;
              line-height: 18px;
              font-size: 12px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              .image-wrap {
                background: var(--primary-btn-color);
                box-shadow: 1px 1px 8px 0 var(--primary-btn-color);
                height: 78px;
                width: 75px;
                border-radius: 6px;
                gap: 5px;
                font-size: 10px;
                svg {
                  width: 25px;
                  height: 25px;
                }
              }
              .features {
                padding-left: 20px;
                line-height: 20px;
              }
            }
            &:hover {
              box-shadow: 1px 3px 15px var(--primary-shadow-color);
              transition: all 0.2s ease;
              .image-wrap {
                background: white;
                color: var(--primary-color);
              }
            }
          }
        }
        &:hover {
          box-shadow: 1px 3px 15px var(--primary-shadow-color);
          transition: all 0.2s ease;
          // transform: scale(1.04);
          .info {
            box-shadow: 1px 3px 15px var(--primary-shadow-color);
            padding: 15px;
            width: 620px;
            margin-left: -579px;
            height: 704px;
            border: 1px solid #dee1ec;
            transition: all 0.2s ease;
            margin-top: -47px;
            cursor: help;
            overflow: auto;
            border-radius: 0;
          }
        }
      }
      .get-instance {
        position: absolute;
        top: 10px;
        right: 54px;
        background: var(--primary-bg-color);
        color: var(--primary-color);
        border: 1px solid var(--theme-bg);
        padding: 7px 10px;
        border-radius: 5px;
        font-size: 13px;
        display: none;
      }
      .tenant-store-input {
        position: absolute;
        top: 0;
        right: 0;
        background: var(--primary-bg-color);
        color: var(--primary-color);
        border: 1px solid var(--theme-bg);
        padding: 7px 10px;
        border-radius: 5px;
        font-size: 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        z-index: 1;
        display: none;
        .input-wraps {
          padding-top: 20px;
          position: relative;
          width: 100px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          padding-right: 10px;
          input {
            width: 100%;
            border: 1px solid #dee1ec;
            text-align: center;
            padding: 10px;
            border-radius: 4px;
          }
          label {
            position: absolute;
            top: 0;
            left: 0;
          }
          &.btn {
            margin-left: 10px;
            padding-top: 10px;
          }
        }
      }
    }
    .editor-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: auto;
      z-index: 1;
      background: var(--theme-bg);
      .images-list-wrap {
        width: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        min-height: 615px;
        position: relative;
        background: var(--primary-shadow-color);
        box-shadow: 1px 1px 8px 0 var(--primary-shadow-color);
        border-radius: 4px;
        overflow: auto;
        padding: 0 10px;
        background: var(--theme-bg);
        top: 10px;
        margin-bottom: 20px;
        .heading {
          padding: 10px;
          font-size: 13px;
          font-weight: 600;
          letter-spacing: 0.2px;
          width: 100%;
          z-index: 10;
          @include background-btn;
          -webkit-backdrop-filter: saturate(180%) blur(7px);
          backdrop-filter: saturate(180%) blur(7px);
          position: sticky;
          top: 0;
          background: linear-gradient(
            273deg,
            rgb(253 253 253 / 0%) -81.71%,
            rgb(255 255 255 / 92%) 79.17%
          );
          .icon-wrap {
            position: absolute;
            top: 10px;
            right: 0px;
            background: unset;
            width: 25px;
            height: 25px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--primary-color);
            cursor: pointer;
            .info {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding-left: 10px;
              overflow: hidden;
              width: 0;
              height: 0;
              background: white;
              margin-left: 0;
              font-size: 12px;
              letter-spacing: 0.2px;
              transition: all 0.2s ease;
              border-radius: 4px;
              color: black;
            }
            svg {
              width: 100%;
              height: 100%;
            }
            &:hover {
              box-shadow: 1px 3px 15px var(--primary-shadow-color);
              transition: all 0.2s ease;
              // transform: scale(1.04);
              .info {
                width: 250px;
                margin-left: -250px;
                height: 45px;
                transition: all 0.2s ease;
              }
            }
          }
          &::after {
            background-image: linear-gradient(
              270deg,
              #ffa4c8 0,
              var(--primary-color) 100%
            );
            border-radius: 14px;
            width: 80px;
            height: 3px;
            content: "";
            display: block;
            margin: 3px 0;
          }
        }
        .templates-list {
          padding: 10px 0;
          .template-details {
            cursor: pointer;
            border-radius: 4px;
            margin-bottom: 10px;
            position: relative;
            border: 2px solid var(--primary-bg-color);
            width: 100%;
            height: 160px;
            .icon-wrap {
              position: absolute;
              top: 10px;
              right: 10px;
              background: #1b2f52;
              width: 24px;
              height: 24px;
              padding: 5px;
              border-radius: 15px;
              display: flex;
              justify-content: center;
              align-items: center;
              filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.3));
              color: gold;
              svg {
                width: 100%;
                height: 100%;
              }
            }
            &.users-template {
              .info-icon-wrap {
                position: absolute;
                top: 0;
                right: 0;
                .info {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  padding-left: 10px;
                  overflow: hidden;
                  width: 0;
                  height: 0;
                  background: white;
                  margin-left: 0;
                  font-size: 10px;
                  letter-spacing: 0.2px;
                  transition: all 0.2s ease;
                  border-radius: 4px;
                }
                .icon-wrap {
                  background: #dee1ec;
                  color: red;
                }
                &:hover {
                  box-shadow: 1px 3px 15px var(--primary-shadow-color);
                  transition: all 0.2s ease;
                  // transform: scale(1.04);
                  .info {
                    width: 150px;
                    margin-left: -150px;
                    height: 50px;
                    transition: all 0.2s ease;
                    padding-left: 15px;
                  }
                  svg {
                    transform: rotate(180deg);
                  }
                }
              }
            }
            img {
              width: 100%;
              border-radius: 4px;
              height: 100%;
            }
            &:hover {
              box-shadow: 1px 3px 5px var(--primary-shadow-color);
              transform: scale(1.04);
            }
          }
        }
        .btn-wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          position: sticky;
          bottom: 5px;
          &:hover {
            svg {
              transform: rotate(180deg);
            }
          }
        }
      }
      .editor-wrap {
        width: 70%;
        min-height: 490px;
        width: 830px;
        .action-wrap {
          padding: 10px;
          display: flex;
          width: 100%;
          .btn {
            padding: 14px;
            width: auto;
            font-size: 13px;
            border-radius: 6px;
            background: var(--primary-shadow-color);
            border: unset;
            box-shadow: 1px 1px 8px 0 #768a9f69;
          }
        }
        .editor-root {
          position: relative;
          border-radius: 4px;
          overflow: hidden;
          background: var(--primary-shadow-color);
          .respark_topbar {
            overflow: unset;
            background: var(--theme-bg);
            height: 65px;
          }
          .respark_root {
            // background: radial-gradient(
            //   circle,
            //   rgba(238, 174, 202, 0.2676000702247191) 0,
            //   rgba(148, 187, 233, 0.2198472612359551) 83%
            // );
          }
          .respark_topbar-buttons-wrapper {
            position: absolute;
            padding: 14px;
            font-size: 11px;
            border-radius: 6px;
            border: unset;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 165px;
            z-index: 2;
            right: 363px;
            top: 17px;
            .respark_topbar-save-wrapper {
              display: none;
            }
            .respark_topbar-history-buttons {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 13px;
              font-size: 11px;
              border-radius: 6px;
              border: unset;
              position: absolute;
              width: 90px;
              margin: 0;
              @include background-btn;

              &:hover {
                background: #f8fafb;
              }
            }
          }
          .respark_topbar-center-options {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 11px;
            font-size: 11px;
            border-radius: 4px;
            position: absolute;
            z-index: 2;
            right: 577px;
            top: 10px;
            border: unset;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            @include background-btn;

            svg,
            label {
              color: var(--primary-text-color);
              letter-spacing: 0.2px;
            }
            &.diff-toggle {
              right: 503px;
              button {
                margin: 0 10px;
                padding: 0;
                svg {
                  height: 30px;
                  width: 35px;
                }
              }
            }
            &.dimensions {
              right: 687px;
              padding: 14px;
            }
            &.close-btn {
              padding: 15px 14px 15px 10px;
              right: 10px;
              label {
                font-size: 12px;
                padding-right: 5px;
              }
              svg {
                width: 100%;
                height: 100%;
              }
            }
            &.zoom {
              padding: 8px;
              button {
                width: 25px;
                height: 25px;
                padding: 2px;
              }
              label {
                font-size: 12px;
                padding-right: 5px;
              }
              svg {
                width: 100%;
                height: 100%;
              }
            }
            &:hover {
              background: #f8fafb;
            }
          }
          .respark_main-container {
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: row-reverse;
            position: relative;
            background: var(--theme-bg);

            .respark_editor-content {
              margin-left: 10px;
              border-radius: 11px;
            }
            .respark_tabs {
              z-index: 2;
              overflow: unset;
              background: var(--theme-bg);
              padding: 0 10px;

              .respark_tab {
                @include background-btn;
                margin: 15px 0;
                position: relative;
                height: 78px;
                width: 75px;
                &:first-child {
                  margin-top: 0px;
                }
                &:last-child {
                  margin-bottom: 10px;
                }
                svg,
                label {
                  color: var(--primary-text-color);
                  letter-spacing: 0.2px;
                  margin-top: 5px;
                }
                svg {
                  width: 25px;
                  height: 25px;
                }
                .info {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  padding-left: 10px;
                  overflow: hidden;
                  width: 0;
                  height: 0;
                  right: 50px;
                  top: 0;
                  margin-left: 0;
                  transition: all 0.2s ease;
                  position: absolute;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  div {
                    background: #e5eaf2;
                    border: 1px solid #e5eaf2;
                    font-size: 12px;
                    letter-spacing: 0.5px;
                    font-weight: 500;
                    border-radius: 3px;
                    color: black;
                    &:after {
                      content: " ";
                      position: absolute;
                      top: 16px;
                      right: 1px;
                      border-width: 10px;
                      border-style: solid;
                      border-color: #e5eaf2 transparent transparent #e5eaf2;
                    }
                  }
                }

                &[aria-selected="true"] {
                  background: #ffa1c5;
                  transition: all 0.4s ease;
                  label {
                    transition: all 0.4s ease;
                    color: white !important;
                  }
                  svg {
                    fill: white;
                    stroke: white;
                    color: white !important;
                    transition: all 0.4s ease;
                  }
                }
                &:hover {
                  transform: scale(1.06);
                  background: #ffa1c5;
                  label {
                    color: white !important;
                  }
                  svg {
                    transition: all 0.2s ease;
                    color: white !important;
                  }
                  .info {
                    width: max-content;
                    right: 72px;
                    height: auto;
                    transition: all 0.2s ease;
                    padding: 10px 16px;

                    div {
                      width: max-content;
                      transition: all 0.2s ease;
                      padding: 12px 20px;
                    }
                  }
                }
              }
            }
            .respark_tools-bar {
              width: 100%;
              padding-left: 81px;

              > div {
                @include background-btn;
                font-size: 12px;
                border-radius: 6px;
                padding: 10px;
                label {
                  color: var(--primary-text-color);
                }
              }
            }
            .respark_tools-bar-wrapper {
              position: absolute;
              bottom: 0px;
              left: 10px;
              right: 87px;
              width: calc(100% - 20px);
              padding: 0;
              z-index: 1;
              background: var(--theme-bg);
              max-height: unset;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              overflow: auto;
              .respark_tool-options-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
              }
            }
          }
          .actions-wrap {
            right: 97px;
            top: 10px;
            position: absolute;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 14px;
            .btn {
              font-size: 12px;
              border-radius: 6px;
              padding: 10px;
              padding-left: 13px;
              border: unset;
              display: flex;
              justify-content: center;
              align-items: center;
              @include background-btn;
              .icon {
                width: 23px;
                height: 23px;
                padding: 3px;
                margin-left: 5px;
                svg {
                  background: inherit;
                  width: 100%;
                  height: 100%;
                  margin: unset;
                }
              }
              &:hover {
                color: var(--primary-color);
                background: #f8fafb;
              }
            }
            .btn-wrap {
              &:last-child {
                .btn {
                  padding: 10px;
                }
              }
            }
          }
          .add-text-btn {
            position: absolute;
            bottom: 0;
            left: 10px;
            z-index: 1;
            .btn {
              color: var(--primary-text-color);
              background-color: var(--primary-bg-color);
              border-radius: 4px;
              cursor: pointer;
              font-size: 12px;
              border-radius: 6px;
              padding: 9px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              border: 1px solid var(--primary-bg-color);
              width: 73px;
              height: 36px;
              padding-right: 13px;
              font-style: normal;
              font-weight: 400;
              svg {
                height: 100%;
                width: 30px;
                margin: 0;
              }
              &:hover {
                color: var(--primary-color);
                background: #f8fafb;
              }
            }
          }
        }
      }
    }
    .respark_ModalTitle-Icon {
      svg {
        height: 30px;
        width: 30px;
        color: var(--primary-color) !important;
      }
    }
    .respark_ModalActions-root {
      padding-bottom: 20px !important;
      .respark_Button-root {
        background: var(--primary-shadow-color) !important;
        border-radius: 4px;
        padding: 10px 15px;
        color: var(--primary-text-color);
        font-family: Poppins;
        letter-spacing: 0.3px;
        border: 1px solid var(--primary-btn-color);
        border-radius: 5px;
        &:nth-child(2) {
          background: var(--primary-btn-color) !important;
          &:hover {
            background: white !important;
            color: var(--primary-color);
            border-color: var(--primary-color);
          }
        }
      }
    }
    .respark_image-tool-options {
      .respark_Button-root {
        border-radius: 4px;
        padding: 15px 10px;
        margin-right: 10px;
        @include background-btn;

        span {
          letter-spacing: 0.2px;
          font-size: 12px;
          font-family: "Poppins" !important;
        }
        &:hover {
          background: transparent;
          box-shadow: 1px 3px 15px #cecdcd;
        }
      }
    }
    .respark_watermark-add-wrapper {
      button {
        background: white !important;
        border: 1px solid rgba(216, 112, 147, 0.401);
        border-radius: 4px;
        padding: 15px 10px;
        span {
          letter-spacing: 0.2px;
          font-family: "Poppins" !important;
        }
        &:hover {
          background: transparent;
          box-shadow: 1px 3px 15px #cecdcd;
        }
      }
    }
    .respark_Select-Container {
      @include background-btn;
      margin: 0 10px;
      input,
      div {
        background: transparent;
      }
      > div:nth-child(1) {
        background: transparent;
        margin: unset;
        padding: 6px;
        height: 32px;
        border: unset;
      }
    }
    .respark_text-size-option {
      @include background-btn;
      height: 32px;
      border: unset;
    }
    .text-style-icon {
      height: 32px;
      width: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--primary-bg-color);
    }
    .respark_filters-wrapper {
      &:hover {
        filter: drop-shadow(4px 2px 6px #9a9a9a) !important;
        color: var(--primary-text-color) !important;
        box-shadow: 1px 1px 8px 0 var(--primary-shadow-color) !important;
        background: linear-gradient(
          273deg,
          rgb(0 0 0 / 0%) -81.71%,
          #ffffff8e 79.17%
        ) !important;
        label {
          color: var(--primary-text-color) !important;
        }
      }
    }
    .respark_crsl-item {
      &:hover {
        label {
          color: var(--primary-color);
        }
      }
    }
    .respark_image-tool-add-option {
      &:hover {
        background: #f8fafb !important;
      }
    }
    .respark_filters-wrapper {
      padding: 5px 10px !important;
      &:hover {
        background-color: var(--primary-bg-color) !important;
      }
      .respark_filters-item {
        &:hover {
          color: var(--primary-text-color) !important;
          transform: scale(1.2);
        }
      }
    }
    .respark_crsl-prev-button,
    .respark_crsl-next-button {
      background: var(--theme-bg);
      right: 10px;
      height: 30px;
      width: 30px;
      border-radius: 17px;
      top: 30px;
      filter: drop-shadow(4px 2px 6px #9a9a9a) !important;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px;
      svg {
        height: 100%;
        width: 100%;
        color: var(--primary-bg-color) I !important;
        fill: var(--primary-bg-color);
      }
      &:hover {
        color: var(--primary-text-color) !important;
        transform: scale(1.2);
      }
    }
    .respark_crsl-prev-button {
      right: unset;
      left: 10px;
      svg {
        margin-right: 3px;
      }
    }
    .respark_crsl-next-button {
      svg {
        margin-left: 3px;
      }
    }
    .respark_canvas-node {
      background: var(--theme-bg);
    }
  }
}
.btn {
  font-size: 13px;
  border-radius: 6px;
  padding: 9px 10px;
  padding-left: 13px;
  border: unset;
  color: var(--primary-text-color);
  background: var(--primary-btn-color);
  // box-shadow: 1px 1px 8px 0 var(--primary-btn-color);
  cursor: pointer;
  width: auto;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    height: 22px;
    width: 22px;
    margin-left: 6px;
  }
  &:hover {
    color: var(--primary-color);
    background: #f8fafb;
  }
}
.d-f-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.backdrop-modal-wrapper {
  z-index: 999 !important;
  width: 100% !important;
  background: unset !important;
  .backdrop-modal-content {
    border-radius: 10px;
    overflow: auto;
    width: 400px;
    background: white;
    z-index: 2;
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 10px 0px;
    position: fixed;
    bottom: 0px;
    top: unset;
    left: 0;
    right: 0;
    height: 100vh;

    .heading {
      text-align: left;
      font-size: 16px;
      color: var(--primary-color);
      letter-spacing: 0.2px;
      z-index: 1;
      // padding: 15px 15px 0;
      font-weight: 600;
    }
    .modal-close {
      position: fixed;
      top: 15px;
      left: 410px;
      width: 30px;
      height: 30px;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--primary-bg-color);
      font-size: 12px;
      border-radius: 20px;
      color: var(--theme-bg);
      padding: 6px;
      cursor: pointer;

      svg {
        height: 100%;
        width: 100%;
      }
    }
    .heading-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      top: 0;
      background: transparent;
      padding: 10px 0;
      padding-left: 20px;
    }
    .modal-close {
      top: 10px;
      right: 10px;
    }
    .modal-containt {
      position: relative;
      .arrow {
        position: absolute;
        width: 40px;
        height: 40px;
        padding: 4px;
        background: white;
        top: 40%;
        box-shadow: 1px 1px 8px 0 #92a6bc;
        border-radius: 30px;
        z-index: 6;
        cursor: pointer;
        border: 1px solid #ecf3ff;
        cursor: pointer;
        &.arrow-back {
          left: 10px;
        }
        &.arrow-next {
          right: 10px;
        }
        svg {
          width: 100%;
          height: 100%;
        }
      }
      .category-image-wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        position: relative;
        flex-direction: column;
        padding: 10px;
        .cat-list-wrap {
          width: 97%;
          overflow: auto;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          position: sticky;
          top: 0;
          z-index: 1;
          background: white;
          background: linear-gradient(
            273deg,
            rgba(253, 253, 253, 0) -81.71%,
            rgba(255, 255, 255, 0.92) 79.17%
          );
          &.all {
            display: block;
          }
          .category {
            color: var(--secondary-text-color);
            filter: drop-shadow(4px 2px 6px var(--primary-bg-color));
            font-size: 13px;
            position: sticky;
            top: 0;
            z-index: 5;
            background: var(--theme-bg);
            width: auto;
            border-radius: 5px;
            padding: 10px 20px;
            letter-spacing: 0.4px;
            font-weight: 500;
            font-family: Poppins;
            border: 1px solid var(--primary-bg-color);
            margin: 10px 0 10px;
            transition: all 0.2s ease;
            cursor: pointer;
            min-width: max-content;

            &.active {
              background-color: #ffa1c5;
              color: white;
              left: 0;
              right: 0;
              transition: all 0.2s ease;
              z-index: 7;
            }
            &:hover {
              box-shadow: 1px 3px 15px var(--primary-shadow-color);
              transform: scale(1.02);
              background-color: #ffa1c5;
              color: white;
              transition: all 0.2s ease;
            }
          }
        }
        .image-category-wrap {
          border: 1px solid var(--primary-btn-color);
          box-shadow: 1px 1px 8px 0 var(--primary-shadow-color);
          border-radius: 6px;
          width: 100%;
          margin-bottom: 10px;
          padding: 0;

          .bg-images-list-wrap {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 10px;
            border-radius: 10px;
            .img-wrap {
              margin: 7px;
              width: calc(100% / 2 - 15px);
              height: 100px;
              cursor: pointer;
              border-radius: 6px;
              position: relative;
              padding: 0px;
              filter: drop-shadow(4px 2px 6px #63666e);
              background: transparent;
              &:hover {
                filter: drop-shadow(4px 2px 6px rgb(59, 51, 51));
                transform: scale(1.04);
              }
              img {
                // border-radius: 5px;
                // width: 100%;
                // height: 100%;
                width: 100%;
                border-radius: 4px;
                height: 100%;
              }
              &.active {
                border: 2px solid var(--primary-color);
              }
            }
          }
        }
      }
    }
    .btn-wrap {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 15px;
      width: 100%;
      padding: 0 2%;
      position: sticky;
      bottom: 0;
      background: white;
      z-index: 6;
      padding: 15px;
      &.bg-change {
        .btn {
          &:first-child {
            width: 65%;
          }
          &:last-child {
            width: 35%;
          }
        }
      }
    }
  }
  &.graphics-images-modal {
    .graphics-images-content {
      .category-image-wrap {
        .image-category-wrap {
          .bg-images-list-wrap {
            .img-wrap {
              width: 73px;
              height: 73px;
              padding: 10px;
              &:hover {
                transform: scale(1.6);
                background: white;
              }
            }
          }
        }
      }
      .btn-wrap {
        position: sticky;
        bottom: 0;
        background: white;
        z-index: 1;
        padding: 15px;
      }
    }
  }
  &.cropper-modal,
  &.confirmation-modal {
    background: #04111d7a !important;
    .backdrop-modal-content {
      bottom: unset;
      width: 300px;
      left: 50%;
      transform: translateX(-50%);
      padding: 20px 15px;
      .heading {
        padding: 5px 15px 0;
      }
      .modal-containt {
        padding: 20px;
        .message {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 10px 0;
          font-size: 14px;
          color: var(--primary-bg-color);
          cursor: pointer;
          .checkbox {
            position: relative;
            height: 22px;
            width: 22px;
            background: var(--primary-shadow-color);
            margin-right: 10px;
            transition: all 0.2s ease;
            border-radius: 4px;
            border: 1px solid var(--primary-btn-color);
            &:after {
              content: " ";
              border-radius: 10px;
              position: absolute;
              width: 0;
              height: 0;
              right: 0;
              top: 0;
              background: #ffffff;
              text-shadow: 0px;
              font-size: 32px;
              transition: all 0.2s ease;
              transform: rotate(315deg);
            }
            &::before {
              content: " ";
              border-radius: 10px;
              position: absolute;
              width: 0;
              height: 0;
              left: 0;
              top: 0;
              background: #ffffff;
              text-shadow: 0px;
              font-size: 32px;
              transform: rotate(45deg);
            }
          }
          &.active {
            .checkbox {
              transition: all 0.2s ease;
              background: var(--primary-color);
              &:after {
                transition: all 0.2s ease;
                width: 13px;
                height: 2px;
                right: 0px;
                top: 7px;
              }
              &::before {
                width: 7px;
                height: 2px;
                transition: all 0.2s ease;
                left: 4px;
                top: 9px;
              }
            }
            color: black;
          }
        }
        .warning-msg {
          font-size: 13px;
          color: black;
          padding: 15px 0;
          line-height: 20px;
        }
        .btn-wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 20px;
          padding: unset;
          .btn {
            font-size: 14px;
            padding: 15px;
            width: 100%;
          }
        }
      }
    }
  }
  &.cropper-modal {
    .modal-close {
      left: unset;
    }
    .modal-containt {
      padding-bottom: 0 !important;
    }
  }
  &.text-type-modal {
    .backdrop-modal-content {
      padding: 10px;
      .text-styles-wrap {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid var(--primary-bg-color);
        .text-type {
          width: auto;
          color: var(--primary-text-color);
          background: rgb(144 149 175 / 36%);
          border-radius: 5px;
          padding: 12px 20px;
          letter-spacing: 0.2px;
          font-weight: 500;
          font-family: Poppins;
          border: 1px solid #b0b6c2;
          transition: all 0.2s ease;
          cursor: pointer;
          border: unset;
          filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.2));
          border-radius: 8px !important;

          &:hover {
            box-shadow: 1px 3px 15px var(--primary-shadow-color);
            transform: scale(1.02);
            border-color: #ffa1c5;
            transition: all 0.2s ease;
          }
        }
        &.headings-wrap {
          .text-type {
            width: auto;
          }
        }
      }
    }
  }
}
.respark_text-font-family-item {
  font-size: 14px !important;
  padding: 10px !important;
}
.respark_Menu-root {
  max-height: 300px;
  overflow: auto !important;
  .respark_MenuItem-wrapper {
    div {
      font-size: 12px;
      font-family: Poppins;
      padding: 5px;
    }
  }
  .respark_Select-Label {
    font-size: 12px;
    font-family: Poppins !important;
  }
}
.respark_text-font-family-item[value="Roboto"] {
  font-family: "Roboto" !important;
}
.respark_text-font-family-item[value="Poppins"] {
  font-family: "Poppins" !important;
}
.respark_text-font-family-item[value="Mvboli"] {
  font-family: "Mvboli" !important;
}
.respark_text-font-family-item[value="Blackjack"] {
  font-family: "Blackjack" !important;
}
.respark_text-font-family-item[value="Domaine"] {
  font-family: "Domaine" !important;
}
.respark_text-font-family-item[value="Gothic"] {
  font-family: "Gothic" !important;
}
.respark_text-font-family-item[value="Claredon"] {
  font-family: "Claredon" !important;
}
.respark_text-font-family-item[value="ArgoFlats"] {
  font-family: "ArgoFlats" !important;
}
.respark_text-font-family-item[value="Antonio"] {
  font-family: "Antonio" !important;
}
.respark_text-font-family-item[value="Bakery"] {
  font-family: "Bakery" !important;
}
.respark_text-font-family-item[value="Allura"] {
  font-family: "Allura" !important;
}
.respark_text-font-family-item[value="Lhandw"] {
  font-family: "Lhandw" !important;
}
.respark_text-font-family-item[value="Fontspring"] {
  font-family: "Fontspring" !important;
}
.respark_text-font-family-item[value="Philosopher"] {
  font-family: "Philosopher" !important;
}
.respark_text-font-family-item[value="Abuget"] {
  font-family: "Abuget" !important;
}
.respark_text-font-family-item[value="Alexis Marie"] {
  font-family: "Alexis Marie" !important;
}
.respark_text-font-family-item[value="Manta"] {
  font-family: "Manta" !important;
}
.respark_text-font-family-item[value="Wayfarer"] {
  font-family: "Wayfarer" !important;
}
.respark_text-font-family-item[value="Thunder"] {
  font-family: "Thunder" !important;
}
.menu-item-wrap {
  .menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    border: 1px solid #ecf3ff;
    border-radius: 4px;
    font-size: 13px;
    letter-spacing: 0.2px;
    margin: 0 10px 10px;
    &:focus-visible {
      background: unset;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .icon {
      margin-right: 10px;
      width: 35px;
      height: 35px;
      background: var(--primary-shadow-color);
      padding: 2px;
      border-radius: 20px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    &:hover {
      color: var(--primary-color);
      .icon {
        background: white;
      }
    }
  }
}
.respark_PopupContent-Robot {
  background: var(--theme-bg) !important;
  color: var(--primary-bg-color);
  width: 76px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 5px;
  border: unset;
  border-color: transparent !important;
  .notification-icon {
    font-size: 50px;
  }
}
.respark_PopupContent-Label {
  background: var(--theme-bg);
  color: white !important;
  padding: unset;
  border-radius: 10px;
  letter-spacing: 0.3px;
  height: 76px;
  span {
    padding: 10px;
    padding-left: 50px;
  }
}
.primary-btn {
  @include background-btn;
}
